.about-header {

  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.about-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}

.glyphicon.glyphicon-volume-up{
  font-size: 45px;
}
.next_btn {
   font-size: 30px;
  border-radius: 50px;
    width: 60%;
    left: 20%;
    background-color:rgb(119, 116, 0)
}

.about_screen_content {
background: #0e0e0e;
background: -moz-linear-gradient(top, #0e0e0e 0%, #7d7e7d 100%, #7d7e7d 100%);
background: -webkit-linear-gradient(top, #0e0e0e 0%,#7d7e7d 100%,#7d7e7d 100%);
background: linear-gradient(to bottom, #0e0e0e 0%,#7d7e7d 100%,#7d7e7d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 );
}




.clock{
   background: transparent;
   color: white;
   font-size:20px;
   height:100px;
   padding-bottom: 50px;




}
.left_message{
  width: 40%;
  border-radius: 50px;
  background: white;
  color: black;
  margin-top: 3px;
  float: left;
}
.right_message{
  width: 65%;
  border-radius: 50px;
  background: #ed9114;
  color: white;
  margin-top: 3px;
  float: right;
}
