

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- for arrow-->
    <!--ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon-->

    <!-- Advanced: explicity set the icon for each platform -->
    <ion-icon ios="ios-volume-up" md="md-volume-up"></ion-icon>

    <ion-title>Name app</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="about_screen_content">
  <ion-list>
    <ion-item class="left_message">Hi</ion-item>
    <ion-item class="right_message">How are you ?</ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <input style="width:85%;height: 40px;" type="text"  placeholder="Message..." />
    <button style="height: 40px;">Send</button>  </ion-toolbar>
</ion-footer>
