<ion-content class="login_screen_content">
	<div class="logo">
		<img src="assets/img/appicon.svg" alt="Ionic logo">
	</div>

	<form #loginForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item class="input_texbox">
				<ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" placeholder="  Phone Number" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
				Username is required
			</p>

			<ion-item class="input_texbox">
				<ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" placeholder="   Password" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
				Password is required
			</p>
		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button class="login_btn" ion-button (click)="onLogin(loginForm)" type="submit" block>Login</button>
			</ion-col>
			<ion-col>
				<button class="facebook_btn" ion-button (click)="onSignup()" color="light" block><ion-icon name="logo-facebook"></ion-icon>Login with Facebook</button>
			</ion-col>
		</ion-row>
	</form>

</ion-content>
