<ion-tabs [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="Sample Screen" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="User Screen" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Map" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Slide3" tabIcon="information-circle"></ion-tab>


</ion-tabs>
