.about-header {
  
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.about-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}

.glyphicon.glyphicon-volume-up{
  font-size: 45px;
}
.next_btn {
   font-size: 30px;
  border-radius: 50px;
    width: 60%;
    left: 20%;
    background-color:rgb(119, 116, 0)
}

.about_screen_content {
background: #0e0e0e; 
background: -moz-linear-gradient(top, #0e0e0e 0%, #7d7e7d 100%, #7d7e7d 100%); 
background: -webkit-linear-gradient(top, #0e0e0e 0%,#7d7e7d 100%,#7d7e7d 100%); 
background: linear-gradient(to bottom, #0e0e0e 0%,#7d7e7d 100%,#7d7e7d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); 
}

p{
    font-size: 30px ;
    color:white;
}

