<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
      <!-->Volume-up Glyph<-->
       <span class="glyphicon glyphicon-volume-up"></span>    
    
    <ion-title>Name app</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="about_screen_content">
  <div class="about-header">
    <p>Administrator Control Panel</p>
    Result box
   <ion-item class="input_texbox">
        <ion-input  name="Result box" type="text"  placeholder="Result Box" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>

    </ion-item>

  Range+-For type1
    <ion-item class="input_texbox">
        <ion-input  name="number1" type="number"  placeholder="10" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>

    </ion-item>

    Range+-for type2
    <ion-item class="input_texbox">
        <ion-input  name="number2" type="number"  placeholder="50" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>

    </ion-item>

      
      <ion-col>
        <button class="next_btn" type="submit" block>finish</button>
      </ion-col>

      
      
</div>
  
  
  

  

 
  <!--div padding class="about-info">
    <h4>Ionic Conference</h4>

    <ion-list no-lines>
      <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="conferenceDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon name="pin" item-left></ion-icon>
        <ion-label>Location</ion-label>
        <ion-select>
          <ion-option value="madison" selected>Madison, WI</ion-option>
          <ion-option value="austin">Austin, TX</ion-option>
          <ion-option value="chicago">Chicago, IL</ion-option>
          <ion-option value="seattle">Seattle, WA</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <p>
      The Ionic Conference is a one-day conference featuring talks from the
      Ionic team. It is focused on Ionic applications being built with
      Ionic 2. This includes migrating apps from Ionic 1 to Ionic 2,
      Angular concepts, Webpack, Sass, and many other technologies used
      in Ionic 2. Tickets are completely sold out, and we’re expecting
      more than 1000 developers – making this the largest Ionic
      conference ever!
    </p>
  </div-->
</ion-content>
