<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="login_screen_content" padding>
<div class="logo">
		<img class="home_logo" src="assets/img/appicon.svg" alt="Ionic logo">
	</div>
<ion-row responsive-sm>
			<ion-col>
				<button class="login_btn" ion-button (click)="onSignup()" type="submit" block>Sign Up</button>
			</ion-col>
			<ion-col>
			      <ion-label class="have_account_lbl">Already have an account?</ion-label>
            </ion-col>
			<ion-col>
				<button class="signup_btn" ion-button (click)="onLogin()" color="light" block>Login</button>
			</ion-col>
		</ion-row>
</ion-content>
<ion-footer>
	<ion-label class="footer_lbl">By singup are you agree with our <a href="#">Term & Condition</a></ion-label>
</ion-footer>

