<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Name app</ion-title>

    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

  <!--ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header-->



  <ion-content no-bounce>
  <ion-slides pager>

    <ion-slide>
      <ion-content class="about_screen_content">

  <div class="about-header">

          <ion-item class="clock">
         <ion-icon name="ios-clock-outline" style="font-size:0.8em !important;">Expire my post</ion-icon>
         </ion-item>


  <ion-col>
   <ion-item>
    <ion-label>Select number</ion-label>
    <ion-select [(ngModel)]="gender">
      <ion-option value="f" selected="true">20</ion-option>
      <ion-option value="m">30</ion-option>
    </ion-select>
  </ion-item>
  </ion-col>
 <ion-col>
  <ion-item>
    <ion-label>Select hours/minutes</ion-label>
    <ion-select [(ngModel)]="gender">
      <ion-option value="f" selected="true">minute</ion-option>
      <ion-option value="m">hours</ion-option>
    </ion-select>
  </ion-item>



  </ion-col>
      <ion-col>
        <button class="next_btn" type="submit" block>Next</button>
      </ion-col>

</div>
</ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content class="about_screen_content">
      <div class="about-header">
      <p>Administrator Control Panel</p>
      Result box
      <ion-item class="input_texbox">
        <ion-input  name="Result box" type="text"  placeholder="Result Box" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

    Range+-For type1
    <ion-item class="input_texbox">
        <ion-input  name="number1" type="number"  placeholder="10" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>

    </ion-item>

    Range+-for type2
    <ion-item class="input_texbox">
        <ion-input  name="number2" type="number"  placeholder="50" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>

    </ion-item>


      <ion-col>
        <button class="next_btn" type="submit" block>finish</button>
      </ion-col>



    </div>
    </ion-content>
  </ion-slide>
  </ion-slides>
</ion-content>


