$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}





.slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  .about-header {
  
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.about-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}

.glyphicon.glyphicon-volume-up{
  font-size: 45px;
}
.next_btn {
   font-size: 30px;
  border-radius: 50px;
    width: 60%;
    left: 20%;
    background-color:rgb(119, 116, 0);
    
    
}

.about_screen_content {
background: #0e0e0e; 
background: -moz-linear-gradient(top, #0e0e0e 0%, #7d7e7d 100%, #7d7e7d 100%); 
background: -webkit-linear-gradient(top, #0e0e0e 0%,#7d7e7d 100%,#7d7e7d 100%); 
background: linear-gradient(to bottom, #0e0e0e 0%,#7d7e7d 100%,#7d7e7d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); 
}


.clock{
   background: transparent;
   color: white;
   font-size:40px;
   height:200px;
   padding-bottom: 10px;
}




